<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Werkverzeichnis Barbara Hammann{% endblock %}</title>
    <link rel="stylesheet" href="/css/stil.css">
</head>
<body>
    <main class="seite">
        {% block inhalt %}{% endblock %}
    </main>
    <script src="/js/skript.js"></script>
</body>
</html>